<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="~/assets/images/logo-surabaya.png" alt="" height="40">
                        </span>
                        <span class="logo-lg">
                            <img src="~/assets/images/logo-surabaya.png" alt="" height="45">
                            <span class="text-white-75 fs-15">&nbsp; SIPPJB</span>
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="~/assets/images/logo-surabaya.png" alt="" height="40">
                        </span>
                        <span class="logo-lg">
                            <img src="~/assets/images/logo-surabaya.png" alt="" height="45">
                            <span class="text-white-75 fs-15">&nbsp; SIPPJB</span>
                        </span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
                    id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
            </div>
            <div class="d-flex align-items-center">
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                            data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>
                <div class="ms-1 header-item d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                        <i class='bx bx-moon fs-22'></i>
                    </button>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button onclick="location.href='@Url.Action("Index","Login")'" type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                        <i class='bx ri-shut-down-line fs-22'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>